ul {
    list-style-type: none;
}
li {
    font-weight: bold;
}
.alert {
    background-color: yellow;
    width: 100%;
    height: 30px;
}
.show {
    background-color: green;
    width: 50%;
    height: 30px;
    align-content: center;
}